params {
	nodes = 1
	threads = 10
	GPUs = 1
	tmpDir = "tmp_static/"
	subsetDir = "data/subsets/*"
	dataDir = "data/"
	genome = "data/genome/"
	geneBed = "data/gene.bed"
	outDir = "$baseDir/../ExNeu/results/"
	bamDir = "data/bams/"
	expMat = "data/expression.tsv.gz"
	peaksDir = "data/peaks/*"
	motifPath = "data/motifs.motif"
	genomePath = "data/genome/"
	help = false
	memory = "15G"
	time = "48:00:00"
}

singularity {
	enabled = true
	autoMounts = true
	singularity.cacheDir = "$PWD"
	runOptions = '-B $SINGULARITY_TMPDIR:/tmp'
	// Used to allow Singularity to access bashrc variables
	envWhitelist = ['SINGULARITY_TMPDIR', 'dataDir', 'subsetDir']
}

process {
	container = 'docker://andycgraham/dictys:1.1.0'
	executor='slurm'
	// scratch = true
	queueSize = 10
	maxRetries = 1
	// memory = '15 GB'
  
	withLabel: with_gpus {
		containerOptions = { workflow.containerEngine == "singularity" ? '--nv -B $PWD':
		       ( workflow.containerEngine == "docker" ? '--gpus all': null )  }
		clusterOptions = { "-p biomed_a100_gpu -N $params.nodes --gres=gpu:$params.GPUs -t $params.time --mem=$params.memory" }
	}
	
	withLabel: with_cpus {
		clusterOptions = { "-p cpu -N $params.nodes -t $params.time -n $params.threads --mem=$params.memory" }
		containerOptions = { "--bind $PWD" }
	}
}

timeline {
	enabled = true
	file = "$PWD/timeline.html"
	overwrite = true
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
